* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

/* Header Styles */

header {
  padding-top: 31px;
}

.container {
  width: 74%;
  max-width: 1600px;
  margin: 0 auto;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo h2 {
  color: rgba(14, 14, 14, 1);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.navbar .sign-in-btn button {
  border: 1px solid #006a50;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #006a50;
  background-color: white;
  cursor: pointer;
}

/* Hero Section Styles */
.hero-section {
  margin-top: 51px;
  background-color: rgba(198, 228, 214, 1);
  padding: 80px 100px 80px 100px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.hero-content p {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.hero-content button {
  border: none;
  border-radius: 8px;
  background-color: #006a50;
  color: white;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* Main Section Styles */

/* Pillar Section Styles */
.pillar-container {
  margin-top: 80px;
}

.pillar-container .pillar-heading h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 32px;
}

.pillar-container .pillar-cards {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.pillar-container .pillar-cards .pillar-card {
  padding: 24px 24px 24px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  margin-bottom: 84px;
}

.pillar-cards .pillar-card img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.pillar-cards .pillar-card h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.pillar-cards .pillar-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

/* Future Vision Section Styles */
.future-vision-content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.future-vision-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.future-vision-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.future-vision-cards .future-vision-card-1 {
  padding: 32px 32px 32px 32px;
  border: none;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}
.future-vision-cards .future-vision-card-1 img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-1 h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.future-vision-cards .future-vision-card-1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-1 button {
  padding: 20px 20px;
  background-color: #5490f5;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.future-vision-cards .future-vision-card-2 {
  padding: 32px 32px 32px 32px;
  border: none;
  border-radius: 16px;
  background: rgba(198, 228, 214, 1);
}
.future-vision-cards .future-vision-card-2 img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-2 h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.future-vision-cards .future-vision-card-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-2 button {
  padding: 20px 20px;
  background-color: #09a15c;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.future-vision-cards .future-vision-card-3 {
  padding: 32px 32px 32px 32px;
  border: none;
  border-radius: 16px;
  background: rgba(247, 235, 207, 1);
}
.future-vision-cards .future-vision-card-3 img {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-3 h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.future-vision-cards .future-vision-card-3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}

.future-vision-cards .future-vision-card-3 button {
  padding: 20px 20px;
  background-color: #ffc239;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

/* Quote Section Styles */
.qoute-container {
  padding: 48px 24px 48px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  margin-top: 32px;
  background: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 80px;
}

.qoute-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.qoute-container h5 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}

/* Donate Section Styles */
.donate-section .donate-heading {
  text-align: center;
}
.donate-section .donate-heading h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.donate-section .donate-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.donate-section .donate-money {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.donate-money .money1 button {
  padding: 40px 40px 40px 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  line-height: 48px;
}
.donate-money .money2 button {
  padding: 40px 40px 40px 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  background: rgba(198, 228, 214, 1);
  color: rgba(14, 14, 14, 0.8);
  line-height: 48px;
}
.donate-money .money3 button {
  padding: 40px 40px 40px 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  line-height: 48px;
}
.donate-money .money4 button {
  padding: 40px 40px 40px 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  line-height: 48px;
}

.donate-amount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24;
  margin-bottom: 20px;
}

.donate-amount input {
  width: 1000px;
  padding: 16px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 16px;
  text-align: center;
}

.donate-amount button {
  padding: 17px 34px 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
  margin-bottom: 80px;
}

.newletter-section {
  padding: 80px 80px;
  border: none;
  border-radius: 16px;
  background-color: rgba(198, 228, 214, 1);
  margin-bottom: 80px;
}

.newletter-content {
  width: 1000px;
  text-align: center;
}

.newletter-heading {
  text-align: center;
}

.newletter-heading h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.newletter-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.newletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newletter-input input {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 16px;
}

.newletter-input button {
  padding: 17px 34px 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.newletter-content p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
